<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.mapper.LoginMapper">
	<select id="loginCheck" parameterType="String"
		resultType="co.yedam.vo.LoginVO">
		SELECT *
		FROM users
		WHERE user_id = #{id}
	</select>
	<select id="selectByCode" parameterType="int"
		resultType="co.yedam.vo.LoginVO">
		SELECT * 
		FROM users 
		WHERE user_code = #{userCode}
	</select>
	<select id="findId" resultType="co.yedam.vo.LoginVO">
		SELECT user_id
		FROM   users
		WHERE  user_name = #{userName}
	  	  AND  phone = #{phone}
	  	  AND  email = #{email}
	</select>
	<update id="updatePassword" parameterType="int">
		UPDATE users
   		SET    password = #{newPassword}
   		WHERE  user_code = #{userCode}
	</update>
</mapper>