<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.OrderMapper">
  <!-- 장바구니 -->
  <select id="selectCart" parameterType="int" resultType="map">
    SELECT c.cart_code,
           c.quantity,
           c.product_code,
           p.product_name,
           p.product_option,
           p.image_url_fir,
           p.price,
           p.stock
      FROM cart c JOIN products p
                    ON c.product_code = p.product_code
     WHERE c.user_code = #{userCode}
  </select>
  <insert id="insertCart" parameterType="int">
    INSERT INTO cart (cart_code,
                      user_code,
                      product_code,
                      quantity)
    VALUES (cart_code_seq.nextval,
            #{userCode},
            #{productCode},
            1)
  </insert>
  <delete id="deleteCart" parameterType="int">
    DELETE FROM cart
     WHERE user_code = #{userCode}
       AND product_code = #{productCode}
  </delete>
  <delete id="allDeleteCart" parameterType="int">
    DELETE FROM cart
     WHERE user_code = #{userCode}
  </delete>
  
  
  <insert id="insertOrder" parameterType="co.yedam.vo.OrdersVO">
    <selectKey keyProperty="orderCode" resultType="int" order="BEFORE">
      SELECT order_code_seq.nextval
        FROM DUAL
    </selectKey>
    INSERT INTO orders (order_code,
                        user_code,
                        user_name,
                        phone,
                        address)
    VALUES (#{orderCode},
            #{userCode},
            #{userName},
            #{phone},
            #{address})
  </insert>
  <insert id="insertOrderItem" parameterType="co.yedam.vo.OrderItemVO">
    INSERT INTO order_items (order_item_code,
                            order_code,
                            product_code,
                            quantity,
                            price)
    VALUES (order_item_code_seq.nextval,
            #{orderCode},
            #{productCode},
            #{quantity},
            #{price})
  </insert>
  
  <select id="selectOrder" parameterType="int" resultType="map">
    SELECT order_code,
           user_code,
           user_name,
           phone,
           address,
           order_date
      FROM orders
     WHERE order_code = #{orderCode}
  </select>
</mapper>