<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.mapper.ProductMapper">
	<!-- 전체 상품 조회 -->
	<select id="getAllProducts" resultType="ProductDTO">
		SELECT *
		FROM products
		ORDER BY product_date DESC
	</select>
	<!-- 코드로 조회 -->
    <select id="getProductByCode" resultType="ProductDTO" parameterType="int">
        SELECT *
        FROM   products
        WHERE  product_code = #{productCode}
        ORDER BY product_code DESC
    </select>
	<!-- 판매량 상품 조회 -->
	<select id="getPopularProducts" resultType="ProductDTO">
  		SELECT *
  		FROM   products
  		ORDER BY sales_count DESC
	</select>
	
	<!-- 코드로 이미지 조회 -->
	<select id="getProductDetailByCode" resultType="ProductDTO" parameterType="int">
		SELECT *
		FROM   products
		WHERE  product_code = #{productCode}
		ORDER BY product_code DESC
	</select>
	
	<!-- 카테고리로 조회 -->
	<select id="getProductsByCategory" resultType="ProductDTO" parameterType="String">
		SELECT *
		FROM   products
		WHERE  product_category = #{productCategory}
		ORDER BY product_code DESC
	</select>

	<!-- 상품명 검색 (LIKE 검색) -->
	<select id="searchProductsByName" resultType="ProductDTO" parameterType="String">
 		SELECT * 
 		FROM   products
		WHERE  product_name LIKE '%' || #{product_name} || '%'
		ORDER BY product_date DESC
	</select>
	
	<!-- 상품이미지 -->
	<select id="getProductImages" resultType="string" parameterType="int">
	  SELECT image_url
	    FROM product_images
	   WHERE product_code = #{productCode}
	   ORDER BY sort_order
	</select>
</mapper>