<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "co.yedam.mapper.ReviewMapper">


  <!-- 특정 상품의 리뷰 리스트 조회 -->
  <select id="selectReviewsByProduct" 
          resultType="co.yedam.vo.ReviewVO" 
          parameterType="int">
    SELECT 
      r.review_code, 
      r.user_code, 
      u.user_name,
      r.rating, 
      r.product_code, 
      r.content,
      r.write_date
    FROM reviews r  
    JOIN users u on (r. user_code = u. user_code)
    WHERE product_code = #{product_code}
    ORDER BY write_date DESC
  </select>

  <!-- 리뷰 등록 -->
  <insert id="insertReview" parameterType="co.yedam.vo.ReviewVO">
    INSERT INTO reviews (
      review_code,
      user_code,
      product_code,
      rating,
      content,
      write_date
    ) VALUES (
      REVIEW_CODE_SEQ.nextval,
      #{userCode},
      #{productCode},
      #{rating},
      #{content},
      SYSDATE
    )
  </insert>

  <!-- 리뷰 삭제 -->
  <delete id="removeReview" parameterType="map">
  DELETE FROM reviews
  WHERE review_code = #{reviewCode}
    AND user_code = #{userCode}
  </delete>

</mapper>