.order-container {
  margin: 0;
  /* margin-top: 150px;
  margin-bottom: 300px; */
  padding: 30px;
  background-color: #f9f9f9;
}

.step-container {
  height: 35px;
  text-align: center;
  vertical-align: middle;
}

.step-container .step-box {
  display: inline-block;
  text-align: center;
  height: 35px;
  width: 25%;
  border: 1px solid black;
}

.step-box > span {
  vertical-align: middle;
}

.paymet-title {
  font-size: 1em;
  color: rgb(84, 85, 88);
}

.paymet-title > span {
  font-weight: bold;
  color: rgb(26, 27, 31);
}

.paymet-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.order-form {
  flex: 1;
  max-width: 600px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.payment-box {
  width: 300px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 80px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.summary {
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 6px;
}

.add-address-btn {
  margin-top: 10px;
  background-color: #666;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-address-btn:hover {
  background-color: #444;
}

.total-price p {
  margin: 10px 0;
  font-size: 15px;
}

hr {
  margin: 15px 0;
}

.pay-btn {
  width: 100%;
  background-color: #000;
  color: white;
  padding: 14px 0;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.pay-btn:hover {
  background-color: #444;
}
